<mat-card>
  <mat-card-content class="not-found-container">
    <div class="row justify-content-around">
      <img src="assets/404.png" class="col-6 col-md-3"/>
    </div>
    <div class="row justify-content-around mb-3">
      <h1>404 Error - Page Not Found</h1>
    </div>
    <div class="row justify-content-around mb-3">
      <h2>Oops! Looks like you went off task.</h2>
    </div>
    <div class="row justify-content-around mb-4">
      <div>
        <button mat-raised-button color="primary" routerLink="">
          <mat-icon>arrow_back</mat-icon>
          Go Back
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
