<mat-card>
  <mat-card-title class="header">About Us</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-md-6">
        <img mat-card-image src="assets/company-team.jpg" style="width: 100%;" alt="team photo of handshake">
        <a class="attribution-link" href="https://www.pexels.com/photo/photo-of-people-near-wooden-table-3184418/" target="blank">Pexels</a>
      </div>
      <div class="col-12 col-md-6">
        <p>
          Ambition. Resourcefulness. Determination. Leadership. These are the pillars in which our company stands for and what we
          try to forge in everything we do. Our project management company, Nodebucket, saw the need to create a cost-effective
          system for startups and small businesses to maintain a competitive edge with big corporations in how they do business.
          From websites, applications, advertisement, and marketing we want to be there every step of the way to ensure your
          business can be the best that it can. Our founder, Salazar Slytherin, felt that everyone has a great idea to share but
          it is up to everyone to give them the opportunity to share it. With our products we do exactly that and more by allowing
          all ideas to have the power to be shared with the world without draining a company’s financial capital. Ambition should
          be rewarded. Resourcefulness should always be sought. Determination should be constant. Leadership should be respected.
          This is our way of doing business and it should be how you’d want to.
        </p>
        <p>
          We take task management seriously as we know that without a plan, nothing can get done efficiently. With our task
          management system, we can allow for start-ups and small businesses to have a dedicated space to establish organization
          and accountability within their teams. Our systems are designed to assist team members in viewing their work by their
          own responsibility through establishing a priority ranking system. We believe that work should be something we are proud
          of not only through completion but through its organization as well.
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
