<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-md-6">
        <img mat-card-image src="assets/abstract.jpg" style="width: 60%;">
      </div>
      <div class="col-12 col-md-6">
        <div class="banner">
          <h1>Welcome to Nodebucket!</h1>
          <p>Our task management system helps team members stay organized and accountable for their work in a way that makes them feel empowered.</p>
          <p>For a more personalized experience please sign in.</p>
          <div>
            <button mat-raised-button color="primary" routerLink="sign-in">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>




