<h1 mat-dialog-title>Create Task</h1>
<div mat-dialog-content>
  <form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()" >
    <div class="row">
      <mat-form-field class="col-12">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Task Description" required formControlName="description">
      </mat-form-field>
    </div>
    <div class="row justify-content-around">

    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Return</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!createTaskForm.valid">Create</button>
</div>
